<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Login</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="oauth-buttons">
        <button ion-button icon-left (tap)="googleLogin()" block >
            <ion-icon name="logo-googleplus"></ion-icon>
            Login with google
        </button>
    </div>

    <div class="login-divider">
        <span>or</span>
    </div>
    <form (ngSubmit)="checkAuth()" [formGroup]="loginForm">
        <div class="list">
            <label class="item item-input" [ngClass]="{'item-input-validation': loginEmail?.dirty || loginEmail?.touched}">
                <span class="input-icon">
                    <ion-icon name="person" id="emailInput"></ion-icon>
                </span>
                <input type="text" placeholder="yours@exemple.com" formControlName="loginEmail" />
                <br/>
            </label>
            <span class="error" *ngIf="!!loginEmail?.errors?.required && loginEmail?.invalid && (loginEmail?.dirty || loginEmail?.touched)">Email is required.</span>
            <span class="error" *ngIf="!!loginEmail?.errors?.pattern && loginEmail?.invalid && (loginEmail?.dirty || loginEmail?.touched)">Email is invalid.</span>
            <label class="item item-input" [ngClass]="{'item-input-validation': password?.dirty || password?.touched}">
                <span class="input-icon">
                    <ion-icon name="lock" id="passwordInput"></ion-icon>
                </span>
                <input type="password" placeholder="your password" formControlName="loginPassword" />
            </label>
            <span class="error" *ngIf="!!loginPassword?.errors?.required && loginPassword?.invalid && (loginPassword?.dirty || loginPassword?.touched)">Password is required.</span>
        </div>
        <div padding>
            <button ion-button block type="submit">Login</button>
        </div>
    </form>
</ion-content>