page-blog {
    .item {
        min-height: 7rem;
        border: none;
        border-bottom: 1px dashed color($colors, primary);
        margin: 0;
    }
    .item:last-child{
        border: none;
    }
    .list-ios>.item-block:first-child {
        border-top: none;
    }
    .list-ios>.item-block:last-child {
        border-bottom: none;
    }
    .item .thumbnail img {
        height: 60px;
        width: 60px;
        
    }
    .item .thumbnail {
        min-width: 0;
        min-height: 0;
        margin: 0
    }
    .item{
        padding: 0
    }
    .article-title{
        font-size: 12px;
        color: color($colors, primary);
        font-weight: 600;
        display: block
    }
    .article-user{
        font-size: 10px;
        color: color($colors, dark);
        font-weight: 600;
        display: block
    }
    .article-user span{
        font-size: 10px;
        color: color($colors, dark);
        font-weight: 500;
    }

    .article-tags{
        font-size: 10px;
        color: color($colors, secondary);
        font-weight: 550;
    }
    .article-date{
        font-size: 10px;
        color: color($colors, dark);
        font-weight: 550;
        display: block;
        margin-left: 120px
    }

    .searchbar-ios{            
        background: none;
    }
}
