page-restaurant-comments {
    .restaurant-number-comments{
        font-size: 16px;
        color: #fff;
        background-color: color($colors, primary);
        margin: 2px;
        height: 35px;
        line-height: 35px;
        padding-left: 3px
    }
}
